<template name="game">
	{{>chatBox}}
</template>


<!-- Chat Box with chat messages and the input box -->
<template name='chatBox'>

    <div class="col-sm-7">
    </div>

    <div class="messages-container col-sm-4 col-sm-offset-1">
        <div class="messages" id="pierre">
            {{#if messages}}
                {{#each messages}}
                <p>
                    <span class="username">{{name}}:</span>
                    {{text}}
                    <br>
                    <span data-livestamp="{{creation_date}}"></span>
                </p>
                {{/each}}
            {{/if}}
        </div>  
        <textarea id='text' class="form-control message" placeholder="Write a message"></textarea><br>
        <button class='btn btn-primary' id='send'>Send</button>
    </div>

</template>
 
<!-- Template for the individual chat message -->
<template name='chatMessage'>
    Me: {{text}}
</template>