<template name="game">
	{{>chatBox}}
</template>


<!-- Chat Box with chat messages and the input box -->
<template name='chatBox'>
    <div class="messages-container">
        <div class="messages">
            {{#if messages}}
                {{#each messages}}
                <p>
                    <span class="username">{{name}}:</span>
                    {{text}}-<span data-livestamp="{{creation_date}}"></span>
                </p>
                {{/each}}
            {{/if}}
        </div>
    </div>
  <textarea id='text' class="form-control message" placeholder="Write a message"></textarea><br>
  <button class='btn btn-primary' id='send'>Send</button>
</template>
 
<!-- Template for the individual chat message -->
<template name='chatMessage'>
    Me: {{text}}
</template>