    <template name="join">
        <form class="form-signin">
            <h2 class="form-signin-heading">Join</h2>
            <div class="input-group input-group-lg">
	           	<input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
	            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>
	            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
	            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
			</div>
            <!--<div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Join</button>
            <p class="text-muted"><a href="resetpassword.html">Forgot Password?</a></p>
            {{>signInWithOtherServices}}
        </form>
    </template>