<template name="appNavigation">
	<div class="navbar-wrapper">
		<div class="container header">
	    <nav class="navbar">
		    <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">PienGames</a>
	        </div>
			<div id="navbar" class="navbar-collapse collapse">
	        {{#if currentUser}}
	          <ul class="nav navbar-nav navbar-right">
	          	<img src="{{currentUser.services.twitter.profile_image_url}}">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Games<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    {{#if game}}
                        {{#each game}}
                            <li><a href="{{pathFor 'game'}}" title="{{name}}" data-id="{{_id}}">{{name}}</a></li>
                        {{/each}}
                    {{/if}}
                    <li class="divider"></li>
                    <li><a class="creategame">Create Game</a></li>
                  </ul>
                </li>
	            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Welcome, {{currentUser.profile.name}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a class="signout">Sign out</a></li>
                  </ul>
                </li>
	          </ul>
	        {{else}}
			<ul class="nav navbar-nav navbar-right">
            	<li><a class="join">Join</a></li>
            	<li><a class="signin">Sign in</a></li>
          	</ul>
	        {{/if}}
	        </div><!--/.navbar-collapse -->
	    </div>
	</nav>

		</div>
	</div>
</template>